@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Waterfall&display=swap");
body {
	font-family: Josefin Sans, sans-serif;
	font-size: 16px;
}
h1 {
	color: var(--color1);
	font-family: "Waterfall", cursive;
	font-size: 38px;
	margin: 5px 0;
	-webkit-text-stroke-width: 0.25px;
}
h2 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
h3 {
	margin: 10px 0;
}
li * {
	font-size: 22px;
}

button {
	font-family: Josefin Sans, sans-serif;
}
